<!-- Registration Page for Tip Calculator -->

{% extends "base.html" %}
{% block content %}

<h1>Registration Page </h1>
<h2>Welcome to Split Me: The ultimate restaurant bill split and tip cacluator.</h2>
<p>Once you register and login follow the prompts on each page.</p>

 <!-- flash message -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        <ul>
        <!-- loop through list of messages -->
        {% for category,message in messages %}
            <li class='{{category}}'>{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith%}

<!-- form for registering new users -->
<form action="/registration" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input id="username" name="username_form" type="text" value="{{username_val}}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input id="password" name="password_form" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input id="verify" name="verify_form" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Register">
</form>

{% endblock %}